@font-face{
    font-family: 'MullerRegular', sans-serif;
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
         url('../fonts/MullerRegular.woff') format('woff');
         font-weight: 400;
         
    font-family: 'MullerBold', sans-serif;
    src: url('../fonts/MullerBold.woff2') format('woff2'),
         url('../fonts/MullerBold.woff') format('woff');
         font-weight: 700;

    font-family: 'MullerMedium', sans-serif;
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
         url('../fonts/MullerMedium.woff') format('woff');
         font-weight: 500;
}
// @font-face{
//     font-family: 'MullerBold', sans-serif;
//     src: url('../fonts/MullerBold.woff2') format('woff2'),
//          url('../fonts/MullerBold.woff') format('woff');
//          font-weight: 700;
// }
// @font-face{
//     font-family: 'MullerMedium', sans-serif;
//     src: url('../fonts/MullerMedium.woff2') format('woff2'),
//          url('../fonts/MullerMedium.woff') format('woff');
//          font-weight: 500;
// }