html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'MullerRegular';
    font-size: 14px;
    background-color: #f6f9fc;
    color: #1b212b;
}
.container{
    max-width: 1390px;
    padding: 0px 15px;
    margin: 0 auto;
}
a{
    display: inline-block;
}
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main__btn{
    background-color: #ee3c3c;
    height: 73px;
    width: 270px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
}