@media (max-width: 1365px){
    .tab-content{
        .tab-item{
            .tab-item__content{
                float: none;
                max-width: 100%;

            }
            .tabs__image{
                text-align: center;
                margin-top: 24px;
            }
        }
    }  
    .advantages__form{
        &::before{
            display: none;
        }
    }
    .advantages__item{
        .title{ 
            h3{
                max-width: 100%;
                margin-left: 10px;
            }
        }
        max-width: 50%;
    }
    .tech-inspection__form{
        &::before{
            display: none;
        }
    }
}
@media (max-width: 1230px){
    .tabs{
        .tab{
            width: 259px;
        }
    }
    .tech-inspection__inner{
        display: block;
    }
    .tech-inspection__form{
        max-width: 100%;
        padding: 20px 0px;
        button{
            display: block;
            margin: 20px auto;
        }
    }
    .slider{
        h2{
            font-size: 29px;
            line-height: 36px;
        }
    } 
}
@media (max-width: 1127px){
    .tabs{
        display: block;
        .tab{
            width: 100%;
            display: block;
            & + .tab{
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    .advantages__item{
        max-width: 100%;
    }
    .steps{
        h2{
            font-size: 30px;
        }
    } 
    .steps__item{
        max-width: 50%;
        p{
            max-width: 100%;
        }
    }
    .slider{
        h2{
            text-align: center;
            font-size: 19px;
            line-height: 23px;
        }
    } 
}
@media (max-width: 1050px){
    .company{
        li{
            display: inline-block;
        }
    }
}
@media (max-width: 860px){
    .header{
        p{
            max-width: 575px; 
            font-size: 25px;
        }
    }
    .header__logo-box{
        p{
            display: none;
        }
    }
    .header__form{
        form{
            .main__btn-second{
                height: 54px;
                width: 224px;
            } 
            .input__btn{
                height: 54px;
                width: 224px;
            }
            input{
                height: 47px;
                width: 226px;
            }
        }
    }  
    .header__advantages{
        .header__advantages-box{
            margin-left: 0;
            display: block;
            .header__advantages-text{
                margin-top: 4px;
            }
        }
    } 
}
@media (max-width: 828px){
    .footer__inner{
        display: block;
        ul{
            li{
                a{
                    line-height: 25px;
                }
            }
        }
        .company{
            margin-top: 15px;
        }
        .deliver{
            margin-top: 15px;
            li{
                display: inline-block;
            }
        }
        .adrs{
            margin-top: 15px;
        }
    }
}
@media (max-width: 790px){
    .advantages__item{
        .title{
            display: block;
            h3{
                margin-left: 0;
            }
        }
    } 
    .tech-inspection__content{
        width: 580px;
        h4{
            margin-bottom: -27px;
            font-size: 32px;
        }
        .bg-box{
            h3{
                font-size: 30px;
            }
        } 
        h2{
            font-size: 30px;
        }
    }
    .tech-inspection__form{
        .input__phone{
            margin: 8px;
        }
        .input__name{
            margin: 8px;
        }
    } 
}
@media (max-width: 740px){
    .header__form{
        form{
            .main__btn-second{
                display: block;
                margin-top: 20px;
            }
        }
    }
    .clients{
        h2{
            font-size: 30px;
        }
    } 
    .steps__item{
        max-width: 100%;
    }
}
@media (max-width: 660px){
    .header{
        h1{
            font-size: 62px;
        }
        h2{
            font-size: 28px;
        }
        p{
            font-size: 14px;
            max-width: 409px;
        }
    } 
    .tab-content{
        .tab-item{
            .tabs__image{
                display: none;
            }
        }
    }  
    .advantages{
        h2{
            font-size: 26px;
        }
        span{
            max-width: 372px;
            display: block;
        }
    } 
    .advantages__form{
        padding: 15px 5px;
        form{
            .main__btn{
                display: block;
                width: 100%;
                margin-top: 20px;
                margin-left: 0;
            }
            input{
                width: 100%;
            }
        }
    } 
    .tech-inspection__content{
        width: 448px;
        h4{
            margin-bottom: -15px;
            font-size: 22px;
        }
        .bg-box{
            h3{
                font-size: 21px;
            }
        } 
        h2{
            font-size: 26px;
            margin-top: 28px;
        }
        .text__box{
            p{
                font-size: 14px;
            }
        }
        
    } 
    .tech-inspection__form{
        .input__phone{
            width: 90%;
        }
        .input__name{
            width: 90%;
        }
    } 
    .steps{
        h2{
            font-size: 25px;
        }
    } 
}
@media (max-width: 570px){
    .header__top{
        display: block;
    }
    .number__inner{
        justify-content: space-between;
        margin-top: 10px;
        .number__box{
            a{
                margin-left: 0;
            }
        }
    } 
    .clients{
        h2{
            font-size: 21px;
            margin-top: 32px;
        }
    } 
    .tabs{
        .tab{
            padding: 14px 0px;
        }
    } 
    .tab-content{
        .tab-item{
            p{
                font-size: 14px;
            }
        }
    } 
    .steps{
        h2 {
            font-size: 19px;
        }
    } 
    .steps__form{
        form{
            input{
                width: 100%;
            }
            .main__btn{
                display: block;
                margin-left: 0px;
                margin-top: 20px;
            }
        }
    }
    .footer__inner{
        ul{
            text-align: center;
            li{
                display: block;
            }
        }
        .deliver{
            li{
                display: block;
            }
        }
    }








}
@media (max-width: 525px){
    .header{
        h1{
            font-size: 46px;
        }
        h2{
            margin-top: -34px;
            font-size: 22px;
        }
    } 
    .header__form{
        form{
            .main__btn-second{
                width: 100%;
            }
            .input__btn{
                display: block;
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }
            .input{
                width: 100%;
                text-align: center;
            }
        }
    }
    .tech-inspection__content{
        width: 230px;
        margin: 0 auto;
        h4{
            margin-bottom: -8px;
            font-size: 17px;
        }
        .bg-box{
            h3{
                font-size: 14px;
            }
        } 
        h2{
            font-size: 26px;
            margin-top: 31px;
        }
        .text__box{
            display: block;
            P{
                max-width: 100%;
                font-size: 14px;
                & + p{
                    margin-left: 0;
                }
            }
        }
    }
    .tech-inspection__form{
        padding-bottom: 30px;
        h2{
            font-size: 20px;
            line-height: 0px;
        }
        button{
            width: 215px;
            height: 56px;
        }
        p{
            max-width: 187px;
            font-size: 14px;
        }
        .check-style{
            bottom: 10px;
            left: 50%;
        }
    } 
}
@media (max-width: 435px){
    .clients{
        h2{
            font-size: 17px;
        }
    } 
    .advantages{
        h2{
            font-size: 21px;
        }
        span{
            font-size: 14px;
        }
    } 
}
@media (max-width: 410px){
    .header{
        h1{
            font-size: 35px;
        }
        h2{
            margin-top: -27px;
            font-size: 19px;
            margin-bottom: 23px;
        }
        p{
            font-size: 13px;
        }
    } 
    .main__btn{
        height: 61px;
        width: 224px;
    }
    .footer__inner{
        ul{
            text-align: left;
        }
    }
}
