@import "vars";
@import "global";
@import "fonts";

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    h1 {
        font-size: 72px;
        color: #1b212b;
        text-transform: uppercase;
        span {
            color: #2a579c;
        }
    }
    h2 {
        font-size: 40px;
        margin-top: -49px;
        color: #1b212b;
        span {
            color: #2a579c;
        }
    }
    p {
        max-width: 822px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        color: #1b212b;
        margin-top: -17px;
    }
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
}
.header__logo-box {
    
    .header__logo {
        position: relative;
        span {
            position: absolute;
            top: 32px;
            left: 102px;
            font-size: 11px;
            color: #2a579c;
        }
    }
    p {
        display: inline-block;
        margin-left: 56px;
        line-height: 21px;
        color: #1b212b;
    }
}
.number__inner {
    display: flex;
    .number__box {
        margin-right: 26px;
        span {
            font-weight: 700;
            font-size: 16px;
            color: #2a579c;
            line-height: 24px;
        }
        a {
            margin-left: 70px;
            font-weight: 400;
            color: #e41a22;
            font-size: 13px;
        }
    }
    .burger__btn {
        background-color: #2a579c;
        height: 36px;
        width: 36px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div {
            width: 17px;
            height: 2px;
            background-color: #fff;
            margin: 2px 0;
        }
    }
}
.header__form,
.steps__form {
    form {
        input {
            height: 62px;
            width: 249px;
            border-radius: 6px;
            box-shadow: inset 0px 3px 7px 0px rgba(27, 33, 43, 0.13);
            border: none;
            outline: none;
            padding: 0px 10px;
        }
        .main__btn-second {
            height: 73px;
            width: 270px;
            border: none;
            border-radius: 6px;
            background-color: #1a8cbf;
            color: #fff;
            font-weight: 500;
            & + button {
                margin-left: 34px;
            }
        }
        .input__btn,
        .main__btn {
            margin-left: -9px;
            background-color: #ee3c3c;
        }
    }
}
.header__advantages {
    margin-top: 48px;
    .header__advantages-box {
        display: flex;
        align-items: center;
        margin-left: 260px;
        & + .header__advantages-box {
            margin-top: 29px;
        }
    }
    .header__advantages-text {
        max-width: 320px;
        margin-left: 19px;
        font-size: 15px;
        line-height: 24px;
        color: #1b212b;
    }
    .icon {
        height: 58px;
        width: 58px;
        background-color: #fff;
        border-radius: 50%;
        left: 0;
        top: 0;
        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .icon-counter {
        position: relative;
        &::before {
            content: url("../images/icons/pressure-gauge.svg");
            position: absolute;
        }
    }
    .icon-delivery {
        position: relative;
        &::before {
            content: url("../images/icons/oil-tank.svg");
            position: absolute;
        }
    }
    .icon-filtr {
        position: relative;
        &::before {
            content: url("../images/icons/filter.svg");
            position: absolute;
        }
    }
}
// header end
// tabs start
.clients {
    padding-bottom: 88px;
    h2 {
        font-size: 36px;
        font-weight: 500;
        color: #1b212b;
    }
}
.tabs__inner {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
}
.tabs {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 22px;
    .tab {
        width: 321px;
        padding: 28px 0px;
        background-color: #2a579c;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        border-radius: 6px;
        transition: all 0.5s;
        &.active {
            background-color: #1e95ca;
        }
    }
}
.tab-content {
    .tab-item {
        display: none;

        &:first-child {
            display: block;
        }
        .tab-item__content {
            float: left;
            max-width: 711px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #1b212b;
        }
        .tabs__image {
            text-align: right;
        }
    }
}
// tabs end
// advantages start
.advantages {
    background-color: #fff;
    padding: 40px 0px;
    h2 {
        font-size: 36px;
        font-weight: 500;
        color: #1b212b;
    }
    span {
        font-size: 15px;
        font-weight: 500;
        color: #1b212b;
    }
}
.advantages__inner {
    display: flex;
    flex-wrap: wrap;
}
.advantages__item {
    max-width: 415px;
    margin-top: 30px;
    padding: 0px 15px;
    .title {
        display: flex;
        align-items: center;
        &__icon {
            height: 50px;
            width: 50px;
            background-color: #f6f9fc;
            border-radius: 50%;
            position: relative;
            span {
                position: absolute;
                top: 13px;
                left: 11px;
                font-size: 24px;
                font-weight: 700;
                color: #2a579c;
            }
        }
        h3 {
            max-width: 314px;
            margin-left: 12px;
        }
    }
    p {
        font-size: 15px;
        line-height: 24px;
    }
}
.advantages__form {
    padding: 60px 0px 60px 70px;
    background-color: #f6f9fc;
    form {
        input {
            height: 62px;
            width: 249px;
            border-radius: 6px;
            box-shadow: inset 0px 3px 7px 0px rgba(27, 33, 43, 0.13);
            border: none;
            outline: none;
            padding: 0px 10px;
        }
        .input__btn,
        .main__btn {
            margin-left: -9px;
            background-color: #ee3c3c;
        }
    }
}
// advantages end
// tech-inspection start
.tech-inspection {
    padding: 60px 0px;
    background-color: #fff;
}
.tech-inspection__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 555px;
    display: flex;
    justify-content: space-between;
    padding: 40px 22px;
}
.tech-inspection__content {
    width: 670px;
    color: #fff;
    h4 {
        font-weight: 500;
        font-size: 40px;
        margin-bottom: -35px;
    }
    .bg-box {
        background-color: #ef3f3e;
        border-radius: 5px;
        transform: skew(-15deg);
        padding-left: 15px;
        h3 {
            font-size: 40px;
            line-height: 55px;
            font-weight: 400;
            text-transform: uppercase;
            transform: skew(15deg);
            margin-bottom: -23px;
        }
    }
    h2 {
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .text__box {
        display: flex;
        justify-content: space-between;
        p {
            display: inline-block;
            max-width: 320px;
            font-size: 18px;
            font-weight: 700;
            padding-left: 14px;
            position: relative;
            &::before {
                content: ".";
                color: #e41a22;
                position: absolute;
                left: 5px;
                top: -4px;
            }
            & + p {
                margin-left: 46px;
            }
        }
    }
}
.tech-inspection__form {
    max-width: 425px;
    background-color: #2a579c;
    border-radius: 7px;
    text-align: center;
    color: #fff;
    h2 {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 40px;
    }
    p {
        max-width: 255px;
        margin: 0 auto;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }
    .input__name,
    .input__phone {
        width: 300px;
        height: 50px;
        border-radius: 6px;
        margin: 8px 0px;
        padding: 17px;
        border: none;
    }
    button {
        width: 300px;
        height: 74px;
        border-radius: 6px;
        background-color: #ef3e3d;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border: none;
        margin: 14px 0px 35px;
    }
    .check-box {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding-left: 20px;
    }
    .check-style {
        height: 15px;
        width: 15px;
        border: 1px solid #b9c9df;
        position: absolute;
        margin-left: -20px;
    }
    .check-box {
        &:checked + .check-style {
            &::before {
                content: "\e900";
                font-family: "icomoon";
                font-size: 10px;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
// tech-inspection end
// steps start
.steps {
    padding: 40px 0px;
    h2 {
        font-weight: 500;
        font-size: 36px;
        span {
            color: #2a579c;
        }
    }
}
.steps__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.steps__item {
    position: relative;
    max-width: 430px;
    padding: 0px 10px;
    .icon__box {
        width: 58px;
        height: 58px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 17px;
        left: 0;
    }
    .interFace {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/steps/oil-truck.svg);
            width: 34px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .specialist {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/steps/oil-truck.svg);
            width: 34px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .consultation {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/steps/package.svg);
            width: 34px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .car {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/steps/oil-truck.svg);
            width: 34px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .time {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/steps/pressure-gauge.svg);
            width: 31px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .calculation {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icons/steps/partnership-handshake.svg);
            width: 34px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    span {
        font-weight: 500;
        font-size: 90px;
        color: transparent;
        -webkit-text-stroke: 2px #d2e9f0;
        padding-left: 35px;
    }
    h3 {
        margin-top: -12px;
        font-weight: 700;
        font-size: 18px;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        max-width: 335px;
    }
}
.steps__form {
    margin: 0 auto;
    margin-top: 40px;
}
// steps end
// slider start
.slider {
    padding: 40px 0px;
    background-color: #fff;
    h2{
        font-weight: 500;
        font-size: 36px;
        line-height: 50px;
        max-width: 1169px;
        span{
            color: #2a579c;
        }
    }
    .slick-dots{
        text-align: center;
        margin-top: 35px;
        li{
            display: inline-block;
            margin: 0 10px;
        }
        .slick-active{
            button{
                background-color: #1e95ca;
            }
        }
        button{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #2a579c;
            border: none;
            padding: 0;
            font-size: 0;
        }
    }
    .slider__img {
        .img {
            height: 160px;
            width: 255px;
            border: 1px solid #daeef2;
            position: relative;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
        }
    }
}
.slide__arrow{
    height: 17px;
    width: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none; 
}
.slick-prev{
    top: 76px;
    position: absolute;
    left: -18px; 
}
.slick-next{
    right: -2px;
    top: 72px;
    position: absolute;
}
// slider end
// footer start
.footer{
    background-color: #142d53;
}
.footer__inner{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    ul{
        .social{
            height: 34px;
            width: 34px;
            background-color: #4d5f7a;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            & + .social{
                margin-left: 12px;
            }
        }
        .instagram{
            &::before{
                content: '\ea92';
                font-family: 'icomoon';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
        .vk{
            &::before{
                content: '\f189';
                font-family: 'icomoon';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        li{
            color: #fff;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                line-height: 41px;
                font-weight: 400;
            }
        }
    }
}
.logo__box{
    position: relative;
}
.footer__logo{
    span{
        position: absolute;
        top: 29px;
        left: 101px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
    }
}
.footer__bottom{
    padding: 20px 0px;
    border-top: 1px solid #435775;
    .footer__bottom-box{
        max-width: 847px;
    }
    li{
        position: relative;
        display: inline-block;
        & + li{
            margin-left: 150px;
        }
    }
    color: #fff;
    a{
        color: #fff;
        text-decoration: none;
    }
    .company{
        position: absolute;
        top: -3px;
        left: 84px;
    }
}
// footer end
